################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug/_deps
/out/build/x64-Debug/VulkanBook.pdb
/out/build/x64-Debug/VulkanBook.ilk
/out/build/x64-Debug/VulkanBook.exe
/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Debug/Testing/Temporary
/out/build/x64-Debug/include/glslang
/out/build/x64-Debug/compile_commands.json
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/CMakeFiles
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/.ninja_log
/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/.cmake/api/v1
/out/build/x64-Debug
/CppProperties.json
/txt/chapter1/art/.$objectDependency.drawio.bkp
/txt/chapter1/art/.$applicationDiagram.drawio.dtmp
/txt/chapter1/art/.$applicationDiagram.drawio.bkp
/txt/index.html
*.bkp
*.dtmp
/out
/txt/index.xml
/_deps
build.ninja
cmake_install.cmake
/txt/~$index.docx
source/out/source/openxr/app/.cxx
source/openxr/out
source/openxr/a_out
source/chapter8/a_out
source/openxr
source/chapter8/.idea
/source/chapter4/resources/shaders/indirectdraw.vert
/source/chapter4/resources/shaders/indirectdraw.frag
/source/chapter4/resources/shaders/IndirectCommon.glsl
/source/chapter4/resources/shaders/CommonStructs.glsl
/source/chapter4/resources/shaders/BufferDeviceAddress.glsl
